*{
    padding: 0;
    margin: 0;
}
.main{
    width: 80%;
    margin: 0 auto;
    background: #fff;
}
.contenedor{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.contenedor img{
    width: 400px;
    height: 400px;
    align-self: center;
}
.contenedor__texto{
  align-self: center;
  padding: 30px;
  text-align: left;
}
.contenedor__texto p{
    color: #0889b6;
    font-size: 20px;  
    font-family: 'Lato';  
    font-weight: bold;
    letter-spacing: 2px;
}
.contenedor__texto h2{
    color: #000;
    font-size: 50px;  
    font-family: 'Lato';    
}
.contenedor__texto h3{
    color: #787e7a;
    font-size: 50px;  
    font-family: 'Lato';    
}
.proyectos{
    margin: 30px 0;
}
.proyectos h1{
    color: #000;
    text-align: left;
    padding: 30px;
    font-size: 40px;
    font-family: 'Lato';  
}
.proyectos__items{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
   
}
        .proyectos__items__parrafo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: linear-gradient(to right, #00378c, #00caff);
            font-family: 'Lato';
            border-radius: 10px;
            padding: 30px;
            margin: 30px 0;
        }
        .proyectos__items__cont{
            padding: 30px;
            color: #fff
            /* background: #000; */
        }
        .proyectos__items__cont h3{
            font-size: 40px;
            padding: 30px 0;
            text-align: center;
        }
        .proyectos__items__cont h4{
            font-size: 20px;
            padding: 30px 0;
            text-align: center;
        }

        .proyectos__items__cont ul{
            list-style: none;
            display: flex;
            padding: 30px 0;
            justify-content: start;
            
        }
        .proyectos__items__cont ul li{
            background: rgba(195, 193, 193, 0.5);
            padding: 10px;
            margin: 0 auto;
            border-radius: 30px;
        }
        .proyectos__items img{
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
        }
        .proyectos__items img:hover{
            transform: scale(1.05);
            transition: .5s;
        }


.habilidad{
    height: 100%;
    display: block;
}
        .habilidad h2{
            color: #000;
            text-align: left;
            padding: 30px;
            font-size: 40px;
            font-family: 'Lato';  
        }
        .habilidad__tecno{
            display: grid;
            grid-template-columns: repeat(4, 250px);
            grid-template-rows: repeat(2, 150px);
            justify-content: space-between;
        }
        .habilidad__tecno div{
            background: #292b26;
            padding: 10px ;
            margin: 10px 0;
            width: 200px;
            height: 40px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 10px 5px #ccc;
        }
        .habilidad__tecno p{
            color: #fff;
            font-size: 16px;
            font-family: sans-serif;
            align-self: center;
        }
        .habilidad__tecno img{
            width: 40px;
            height: 40px;
            border-radius: 30px;
            
        }
       



.contacto{
    width: 100%;
    height: 100%;
    background:#eee;
    /* background:#0c1e2f; */
    display: block;
    /* flex-direction: column; */
}
        .contacto h2{
            color: #000;
            text-align: left;
            padding: 30px;
            font-size: 40px;
            font-family: 'Lato';  
        }
        .contacto__info{
            display: flex;
        }
        .contacto__info img{
            align-self: start;
        }
        .contacto form{
            display: flex;
            flex-direction: column;
            width: 100%;
            /* height: 80%; */
            padding: 30px 0;
            align-items: center;  
        }
        .contacto h3{
            color: #000;
            font-family: sans-serif;
            text-align: left;
            width: 80%;
            letter-spacing: 1px;
            padding: 25px;
            font-size: 17px;
        
        }
        .contacto input , textarea{
            background: transparent;
            border: none;
            resize: none;
            outline: 0;
            width: 80%;
            transition: all 300ms;
            border-bottom: 1px solid #000;
            color: #000;
            font-size: 15px;
            padding: 10px;
        }
        .contacto textarea::placeholder{
            color: #000;
            font-size: 15px;
            font-family: sans-serif;
        }
        .contacto input::placeholder{
            color: #000;
            font-size: 15px;
            font-family: sans-serif;

        }
        .contacto button{
            border: none;
            outline: none;
            padding: 10px;
            margin: 20px 0;
            width: 30%;
            border-radius: 20px;
            background:  #0986c5;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
            
        }
        .contacto button:hover{
            background:#0875c7 ;
        }

.pie{
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between ;
}
        .pie p{
            color: #000;
            font-size: 16px;
            padding: 30px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
        }
.redes{
            display: flex;
            justify-content: center;
            padding: 10px;
            
        }
                .redes a{
                    padding: 10px 30px;
                    font-size: 35px;
                    color: #000;
                }
                .redes a .fa-github:hover{
                    color: #0986c5;
                }
                .redes a .fa-linkedin:hover{
                    color:  #0986c5;
                }
                .redes a .fa-instagram:hover{
                    color: #0986c5;
                }





@media all and (max-width: 1050px){
    .main{
        width: 80%;
        margin: 0 auto;
    }
    .contenedor__texto h2{
          font-size: 40px;   
    }
      .contenedor__texto h3{
          font-size: 40px;    
        }
      .contenedor img{
        width: 200px;
        height: 200px;
        }
    .proyectos__items__cont{
       /*  padding: 30px;
        color: #fff */
        /* background: #000; */
    }
    .proyectos__items__cont h3{
        font-size: 30px;
        padding: 10px 0;
        text-align: left;
    }
    .proyectos__items__cont h4{
        font-size: 20px;
        padding: 10px 0;
        text-align: left;
    }
    .proyectos__items img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    .habilidad{
        height: 100%;
        margin: 40px 0;
    }
    .habilidad__tecno{
        display: flex;
        flex-flow: row wrap;
    }
    .habilidad__tecno div{
        width: 150px;
        height: 40px;
    }
    .habilidad__tecno p{
        /* color: #fff;
        font-size: 16px;
        font-family: sans-serif;
        align-self: center; */
    }
    .contacto__info{
        display: flex;
        flex-flow: column-reverse wrap;    
    }
    .contacto__info img{
        align-self: center;
    }
    
   
}
@media all and (max-width: 800px){
   .contenedor{
       display: flex;
       flex-direction: column-reverse;
       justify-content: center;
   }
   .contenedor__texto h2{
    font-size: 50px;   
    }
    .contenedor__texto h3{
        font-size: 50px;    
    }
    .contenedor img{
    width: 300px;
    height: 300px;
    }
}
@media all and (max-width: 750px){
    .proyectos__items__cont h3{
        font-size: 25px;
        padding: 10px 0;
        text-align: left;
    }
    .proyectos__items__cont h4{
        font-size: 16px;
        padding: 10px 0;
        text-align: left;
    }
    .proyectos__items img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    .pie p{
        font-size: 15px;
    }
    .redes a{
        font-size: 30px;
    }
}

@media all and (max-width: 670px){
    .main{
        width: 80%;
    }
   .contenedor{
       display: flex;
       flex-direction: column-reverse;
       justify-content: center;
   }
   .contenedor__texto h2{
    font-size: 40px;   
    }
    .contenedor__texto h3{
        font-size: 40px;    
    }
    .contenedor img{
    width: 300px;
    height: 300px;
    }
    .proyectos__items{
    
    }
    .proyectos__items__parrafo{
        /* width: 82%; */
        display: flex;
        flex-direction: column;
    }
    .proyectos__items__cont h3{
        font-size: 30px;
        padding: 10px 0;
        text-align: center;
    }
    .proyectos__items__cont h4{
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }
    .proyectos__items__parrafo a{
        margin:  0 auto;
        padding: 20px;
    }
    .proyectos__items__parrafo img{
        width: 300px;
        margin:  0 auto;
    }
    .habilidad__tecno{
        
        justify-content: space-evenly;
    }
 }
 @media all and (max-width: 530px){
    .contenedor{
       display: flex;
       flex-direction: column-reverse;
       justify-content: center;
   }
   .contenedor__texto h2{
    font-size: 30px;   
    }
    .proyectos__items__parrafo{
        
        flex-flow: column wrap;
    }
    .proyectos__items__cont h4{
        font-size: 16px;
        padding: 10px 0;
        text-align: center;
    }
    .proyectos__items__parrafo a{
        margin:  0 auto;
        padding: 20px;
    }
    .proyectos__items__parrafo img{
        width: 300px;
        margin:  0 auto;
    }
    .contenedor__texto h3{
        font-size: 30px;    
    }
    .contenedor img{
        width: 250px;
        height: 250px;
    }
    .habilidad__tecno{
        
        justify-content: space-evenly;
    }
    .pie{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    @media all and (max-width: 500px){
        .main{
            width: 80%;
        }
        .proyectos__items__parrafo{
            
            /* width: 80%; */
            margin: 10px auto;
        }
        .proyectos__items__parrafo img{
            width: 250px;
            height: 300px;
            
        }
    } 

    @media all and (max-width: 450px){
        .main{
            width: 100%;
        }
        .proyectos__items__parrafo{
            
            /* width: 80%; */
            width: 70%;
        }
        .contenedor__texto h2{
            font-size: 40px;   
            }
            .contenedor__texto h3{
                font-size: 30px;    
            }
            .contenedor img{
            width: 300px;
            height: 300px;
            }
    }
    @media all and (max-width: 360px){
        .main{
            width: 100%;
        }
        .contenedor__texto h2{
            font-size: 30px;   
        }
        .contenedor__texto h3{
            font-size: 20px;    
        }
        .contenedor img{
        width: 300px;
        height: 300px;
        }
        .proyectos__items__parrafo{
            background: #000;

        }
        .proyectos__items__parrafo img{
            width: 250px;
            height: 150px;
            
        }
    } 
            
    }
        
    
 }
 


